body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    text-align: center;
    padding: 50px 10px;
}

header h1 {
    margin-top: 90px;
    color: #333;
}

header p {
    color: #666;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}


#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.feature {
    flex-basis: 45%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 5px;
}

#detailed-features, #testimonials, #pricing, #faq {
    padding: 20px;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 10px;
}



.navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 100px;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-logo {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.nav-links li a:hover {
    background-color: #575757;
}
@media (max-width: 600px) {
    form {
        width: 100%;
        margin: 0;
    }
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 2}
}

img{
    border-radius: 20px;
}

.features-section{
    margin-top: 40px;
}

a{
    color: white;
    text-decoration: none;
}

.round_corners{
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.round_corners:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

#get-started-btn{
    margin-top: 20px;
}

#header_text_container{
    text-align: center;
}
#header-text {
    font-size: 40px;
    border-right: 0.1em solid black;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 4s steps(60, end) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
        border-color: transparent;
    }
}
