body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    margin-right: 40px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

span {
    color: #d9534f;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

#sendVerifEmail{
     width: 10%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
}

#sendVerifEmail:hover{
    background-color: #4cae4c;
    transform: scale(1.1);
    transition: 0.2s ease-in-out
}

@media (max-height: 500px) {
    body {
        margin-top: 20px;
    }
}

a{
    margin-left: 20px;
}
