body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    color: #333;
}

html {
    scroll-behavior: smooth;
}

.main-content {
    padding: 80px 20px 20px;
}

h1, h2 {
    color: #333;
}

h1 {
    margin-top: 60px;
}

h2 {
    text-align: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    border: 2px solid dodgerblue;
    transition: transform 0.5s ease-in-out;
}

form:hover{
    transform: scale(1.05);
}
label {
    display: block;
    margin-bottom: 10px;
}

.submit-btn:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

input[type="text"],
input[type="password"],
input[type="file"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    form {
        width: 100%;
        margin: 0;
    }
}


.navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 100px;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-logo {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.nav-links li a:hover {
    background-color: #575757;
}

#view-schedule-btn{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#view-schedule-btn:hover{
    transform: scale(1.05);
    background-color: #45a049;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 10px;
}
/* modal window tht show the loading*/

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
    position: relative;
  margin: 0 auto;
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}